video {
    width: 100%;
    height: 600px;
}


section {
    width: 100%;
    height: auto;
    display: flex;
}

.imgSecao {
    width: 50%;
}

.imgSecao img {
    width: 100%;
    height: 400px;
}

.txtSecao {
    width: 50%;
    padding: 80px 20px;
    text-align: center;
}

.txtSecao h2 {
    margin-bottom: 20px;
}

